.From {
  width: 90%;
  height: 50%;
  float: left;
  text-align: center;
}
.From .ant-row {
  width: 90%;
}
.From .ant-row .ant-form-item-children {
  display: inline-block;
  width: 270px;
}
.From .ant-row .ant-form-item-children .ant-select {
  float: left;
  margin-right: 12px;
  width: 120px;
}
