.header {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.left .ant-layout-sider-children ul li {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.left .ant-layout-sider-children ul li span {
  font-size: 16px;
}
.left .User {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 90px;
}
.left .User img {
  width: 32%;
  height: 40%;
  border-radius: 100%;
}
.left .User .name {
  width: 100%;
  height: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
